:root{
  --gutter-background: #515F66;
  --bg-color: #161C23;
  --monaco-editor-background: #161C23;
  --appScriptIDE-background-margin-lines:  #3C3C3C;
  --foreground: #DADADA;
  --lBlue: #7ED4E5;
  --selection: #0E3220;
  --names: #eee;
  --simbols:  #efe;
  --background-hints: #111;
  --color-hints: #fff;
  --red: #F11;
  --color-nameFolders: aqua;
  --appScriptIDE-colorNameFiles: #88dd88;
  --appScriptIDE-backgroundLeftPanel:  #bbe4e3;
  --appScriptIDE-colorMenuText:  #F2D7BB;
  --appScriptIDE-editorColorStrings: #F2E6A9;
  --appScriptIDE-edtior-bracets-color:  #FF871C;
  --appScriptIDE--active-line-number: #F6F6F6;
  --appScriptIDE-comments-color:   #B5F2A9;
  --appScriptIDE_iconFile:  #F11;
  --appScriptIDE_iconHtml:  #99FFC2;
  --appScriptIDE_iconJs:  #8E8EEA;
  --appScriptIDE-selected-file-background: #a18400;
  --appScriptIDE-selected-file-color:  #fff;
  --appScriptIDE-editor-comments-color:  #75FFCD;
  --appScriptIDE-editor-selection-background: #565A5A;
  --appScriptIDE-leftPanel-titles:  #C2FBF8;
  --appScriptIDE-modalBackround:  #FCFCFC;
  --appScriptIDE-serviceVersionFontColor: #000268;
  --appScriptIDE-serviceListFontColor: #4C4C4C;
  --appScriptIDE-serviceListSelectedFontColor:  #FFF43D;
  --appScriptIDE-serviceListSelectedBackGroundColor:  #72727C;
  --appScriptIDE-serviceListFontColorHoverBackGround: #949494;
  --appScriptIDE-modalTitleColor: #270000;
  --appScriptIDE-buttonSecondaryBackground: #616061;
  --appScriptIDE-buttonPrimaryBackground:  #2c0055;
  --appScriptIDE-colorIconAdd: #eee;
  --appScriptIDE_color--inputFileName: #ffe;
  --appScriptIDE__monaco-code-fontColor: #111;
  --appScriptIDE__monaco-code-boxShadow:  #112;
}
