:root{
  --gutter-background: #F4F4F4;
  --bg-color: #FFFFFF;
  --monaco-editor-background: #F4F4F4;
  --appScriptIDE-background-margin-lines:  #F2EDED;
  --foreground: #444343;
  --lBlue: #185abc;
  --selection: #007035;
  --names: #202124;
  --simbols:  #003C00;
  --background-hints: #111;
  --color-hints: #fff;
  --red: #F11;
  --color-nameFolders: #2E2E2E;
  --appScriptIDE-colorNameFiles: #424242;
  --appScriptIDE-backgroundLeftPanel:  #FFFFFF;
  --appScriptIDE-colorMenuText:  #202124;
  --appScriptIDE-editorColorStrings: #747474;
  --appScriptIDE-edtior-bracets-color:  #000000;
  --appScriptIDE--active-line-number: #111;
  --appScriptIDE-comments-color:  #137333;
  --appScriptIDE_iconFile:  #F11;
  --appScriptIDE_iconHtml:  #035E28;
  --appScriptIDE_iconJs:  #0000EE;
  --appScriptIDE-selected-file-background: #324463;
  --appScriptIDE-selected-file-color:  #1a73e8;
  --appScriptIDE-editor-comments-color:  #5f6368;
  --appScriptIDE-editor-selection-background:  #FF8D8D;
  --appScriptIDE-leftPanel-titles:  #4A4A4A;
  --appScriptIDE-modalBackround:  #FCFCFC;
  --appScriptIDE-serviceVersionFontColor: #212121;
  --appScriptIDE-serviceListFontColor: #8A8A8A;
  --appScriptIDE-serviceListSelectedFontColor:  #222222;
  --appScriptIDE-serviceListSelectedBackGroundColor:  #e8f0fe;
  --appScriptIDE-serviceListFontColorHoverBackGround:  #f1f3f4;
  --appScriptIDE-modalTitleColor: #3c4043;
  --appScriptIDE-buttonBackground: transparent;
  --appScriptIDE-buttonPrimaryBackground:  transparent;
  --appScriptIDE-colorIconAdd: #363636;
  --appScriptIDE_color--inputFileName: #122;
  --appScriptIDE__monaco-code-fontColor: #eee;
  --appScriptIDE__monaco-code-boxShadow:  #112;
}
